<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Me</h2>
    <p>
        Soy Mario, un estudiante de ingenieria en la UPM
        que le apetecía demasiado salirse un poco de la zona de comfort
        e investigar nuevos potenciales hobbies
    </p>
    {{#link-to "contact" class="button"}}
    Contact
    {{/link-to}}
</div>